<div class="home-header-background"></div>

<div class="home-header-container tab-0">
  <nav class="header-nav">
    <li>
      UPHOLD
    </li>
    <li class="u-pull-right">
      Contact
    </li>
    <li class="u-pull-right">
      About
    </li>
    <li class="u-pull-right">
      Media
    </li>
    <li class="u-pull-right">
      Services
    </li>
  </nav>
  <p class="twelve columns home-header">
    <%= image_tag("logo", class: "home-header-logo") %>
  </p>
</div>

<div class="home-filler-container">
  <p class="home-filler">
    What We Do
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns services-home">
  <div class="service live" id="tl"><p>Uphold LIVE</p></div>
  <div class="service management" id="tr"><p>Uphold Management</p></div>
  <div class="service agency" id="bl"><p>Uphold Agency</p></div>
  <div class="service venue-center"><p>Uphold Venue Center</p></div>
</div>