<%= image_tag("concert", class: "home-header-background") %>

<div class="home-header-container tab-0">
  <nav class="header-nav">
    <li>
      Home
    </li>
    <li>
      About
    </li>
    <li>
      Contact
    </li>
  </nav>
  <p class="twelve columns home-header">
    <%= image_tag("uphold", class: "home-header-logo") %>
  </p>
</div>

<div class="home-filler-container">
  <p class="home-filler">
    What We Do
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns services-home">
  <div class="service live">YO</div>
  <div class="service live">YO</div>
  <div class="service live">YO</div>
  <div class="service live">YO</div>
</div>