<div class="home-header-background"></div>

<div class="home-header-container tab-0">
  <!-- mobile Nav -->
  <div class="mobile-nav-container">
    <nav class="mobile-nav header-nav">
      <%= link_to root_path do %>
        <li>
          UPHOLD
        </li>
      <% end %>
      <li class="u-pull-right" id="mobile-nav-menu">
        <i class="fa fa-bars"></i>
      </li>
    </nav>

    <div class="mobile-nav-items">
      <li>
        Services <i class="fa fa-caret-down"></i>
      </li>
      <li>
        Media
      </li>
      <li>
        About
      </li>
      <li>
        Contact
      </li>
    </div>
  </div>
  <!--  -->
  <!-- Desktop Nav -->
  <div class="desktop-nav-container">
    <nav class="desktop-nav header-nav">
      <%= link_to root_path do %>
        <li>
          UPHOLD
        </li>
      <% end %>
      <li class="u-pull-right">
        Contact
      </li>
      <li class="u-pull-right">
        About
      </li>
      <li class="u-pull-right">
        Media
      </li>
      <li class="u-pull-right dropdown">
        Services <i class="fa fa-caret-down"></i>
        <ul class="nav-services">
          <li>Uphold LIVE</li>
          <li>Uphold Management</li>
          <li>Uphold Agency</li>
          <li>Uphold Venue Center</li>
        </ul>
      </li>
    </nav>
  </div>
  <!--  -->
  <p class="twelve columns home-header">
    <%= image_tag("logo", class: "home-header-logo") %>
  </p>
</div>

<div class="home-filler-container">
  <p class="home-filler">
    What We Do
    <i class="fa fa-arrow-down"></i>
  </p>
</div>

<div class="twelve columns services-home">
  <div class="service live" id="tl"><p>Uphold LIVE</p></div>
  <div class="service management" id="tr"><p>Uphold Management</p></div>
  <div class="service agency" id="bl"><p>Uphold Agency</p></div>
  <div class="service venue-center"><p>Uphold Venue Center</p></div>
</div>