<%= link_to root_path do %>
  <div class="musician-card-container relative-fade">
    <div class="musician-card-background" style="background: url('<%= musician.image.url %>') no-repeat center center; background-size:cover;">
      <div class="bc-top-container">

      </div>
    </div>
    <div class="bc-bottom-container">
      <p><%= musician.name %></p>
    </div>
  </div>
<% end %>