<%= link_to band_path(band) do %>
  <div class="band-card-container">
    <div class="band-card-background" style="background: url('<%= band.active_profile_image.url %>') no-repeat center center; background-size:cover;">
      <div class="bc-top-container">

      </div>
    </div>
    <div class="bc-bottom-container">
      <p><%= band.name %></p>
    </div>
  </div>
<% end %>