.home-header-background {
  float:left;
  width:100vw;;
  height:100vh;
  background:url("show") no-repeat center center;
  background-size:cover;
  position: fixed;
  z-index: -1;
}

.home-header-container {
  position: relative;
  background-color: rgba($lt-gold,0.2);
  height: 72vh;
}

.home-header {
  position: absolute;
  font-family: 'Josefin Slab', serif;
  color: #FFCC00;
  font-size: 4em;
  text-align: center;
  top: 10vh;

  img {
    height: 55vh;
  }
}

.header-nav {
  background-color: $dark;
  height: $nav-height;
  width: 100%;
  z-index: 999;
  position: fixed;

  li {
    display: inline-block;
    color: $gold;
    font-family: 'Josefin Slab', serif;
    font-size: 4vh;
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 2vh;

    a {
      color: $gold;
    }
  }

  li:hover {
    color: $lt-gold;
    cursor: pointer;
  }

  a:hover {
    color: $lt-gold;
    cursor: pointer;
  }
}

.admin-items {
  display: none;
  background-color: rgba($dark, 0.9);
  position: absolute;
  margin-top: 0px;
  padding-left: 0px;
  right: 0px;

  li {
    margin-top: 0px;
    padding-top: 8px;
    display: block;
  }
}

.dropdown:hover > ul {
  display: block;
}

.desktop-nav-container {
  display: none;

  .nav-services {
    display: none;
    background-color: rgba($dark, 0.9);
    position: absolute;
    margin-top: 0px;
    padding-left: 0px;

    li {
      margin-top: 0px;
      padding-top: 8px;
      display: block;
    }
  }
}

.mobile-nav-items {
  display: none;
  width: 100vw;
  padding-top: $nav-height;
  font-family: 'Josefin Slab', serif;
  font-size: 4vh;
  margin-right: 12px;
  padding-left: 24px;
  margin-top: 2vh;
  list-style-type: none;
  z-index: 1;

  position: fixed;
  background-color: rgba($dark, 0.9);
  color: $gold;

  li {
    border-bottom: 1px solid rgba($gold, 0.2);
    list-style-type: none;
  }

  li:hover {
    cursor: pointer;
  }

  ul {
    display: none;
    margin: 0;

    li {
      border: 0px;
    }

    a:hover {
      color: $lt-gold;
    }
  }

  a {
    color: $gold;
  }
}

.services-home {
  position: relative;
  height: 72vh;
}

.service {
  height: 17.9vh;
  width: 100vw;
  float: left;
  color: $gold;
  font-family: 'Josefin Slab', serif;
  font-size: 4vh;
  text-align: center;
  background-color: rgba($dark, 0.85);
  border-bottom: 1px solid rgba($gold, 0.4);

  .service-title {
    padding-top: 6.9vh;
    margin-bottom: 0;
  }

  .service-text {
    font-size: 3vh;
    display: none;
  }

  &:hover {
    background-color: rgba($dark, 0.6);
    color: $lt-gold;
  }
}

.home-about {
  background-color: rgba($dark, 0.6);
  padding-top: 10vh;

  p {
    font-size: 4vh;
    font-family: 'Josefin Slab', serif;
    color: $lt-gold;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    width: 88vw;
  }

  i {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
}

.social-icons {
  width: 100vw;
  height: 16vh;
  background-color: rgba($dark, 1);
  text-align: center;

  i {
    font-size: 8vh;
    margin-top: 4vh;
    margin-left: 1vw;
    color: $gold;
  }

  i:hover {
    color: $lt-gold;
  }
}

@media (min-width: 720px) {
  .service {
    height: 36vh;
    background-color: rgba($dark, 0.85);
    margin: 0;
    width: 49.9vw;
    float: left;
    text-align: center;
    color: $gold;
    font-family: 'Josefin Slab', serif;
    font-size: 5vh;

    .service-title {
      padding-top: 15.5vh;
    }

    &:hover {
      background-color: rgba($dark, 0.6);
    }
  }

  #tl {
    border-right: 1px solid rgba($gold, 0.4);
    border-bottom: 1px solid rgba($gold, 0.4);
  }

  #tr {
    border-bottom: 1px solid rgba($gold, 0.4);
  }

  #bl {
    border-right: 1px solid rgba($gold, 0.4);
  }

  .home-about {

    p {
      width: 50vw;
      margin-top: 20vh;
      margin-bottom: 20vh;
      text-align: center;
    }
  }
}

@media (min-width: 580px) {
  .desktop-nav-container {
    display: block;
  }

  .mobile-nav-container {
    display: none;
  }
}