.content-container {
  padding-top: $nav-height;
}

#flash-warn {
  margin-top: $nav-height;
  position: absolute;
  z-index: 999;
  background-color: $dark;
  color: $gold;
  padding-right: 4px;
}

.hidden {
  display: none;
}
