.live-header-container {
  overflow-x: hidden;
  width: auto;
  white-space: nowrap;
  font-size: 0;
}

.live-header-background {
  display: inline-block;
  width: 100vw;
  height: 70vh;
  background-size:cover;
  positon: fixed;
}

.live-header {
  display: inline-block;
  width: 100vw;
  height: 70vh;
  background-color: rgba($dark, 0.6);
  white-space:normal;

  .live-header-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 10vw;
    width: 80vw;
    font-size: 4vh;
    color: $gold;
    text-align: center;
  }
}

.live-arrow {
  width: 6vw;
  font-size: 4vh;
  color: $gold;
  margin-top: 33vh;
  position: fixed;
  padding-left: 4vw;
}

#carousel-right {
  margin-left: 90vw;
}

.live-arrow:hover {
  color: $lt-gold;
}

.live-filler-container {
  height: 20vh;
  background-color: $dark;
  border-bottom: 1px solid $gold;

  p {
    font-family: 'Josefin Slab', serif;
    padding-top: 5vh;
    color: $gold;
    font-size: 7vh;
    font-weight: 600;
    text-align: center;
    margin: 0;
  }
}