.live-header-container {
  overflow-x: hidden;
  width: auto;
  white-space: nowrap;
  font-size: 0;
}

.live-header-background {
  display: inline-block;
  width: 100vw;
  height: 72vh;
  background-size:cover;
  positon: fixed;
}

.live-header {
  display: inline-block;
  width: 100vw;
  height: 72vh;
  background-color: rgba($v-lt-gold, 0.85);
  white-space:normal;

  .live-header-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 10vw;
    width: 80vw;
    font-size: 4vh;
    color: $dark;
    text-align: center;
    padding-top: 6vh;

    h5 {
      font-size: 4vh;
    }

    h3 {
      font-size: 5.5vh;
    }

    h4 {
      font-size: 5vh;
    }

    h6 {
      font-size: 3.2vh;
    }
  }

  .live-header-content:hover {
    color: $dk-gold;
  }
}

.live-arrow {
  width: 10vw;
  font-size: 4vh;
  color: $dark;
  margin-top: 31vh;
  padding-top: 2vh;
  padding-bottom: 2vh;
  position: absolute;
  z-index: 5;
  text-align: center;
}

.live-arrow:hover {
  color: $dk-gold;
  cursor: pointer;
}

#carousel-right {
  margin-left: 90vw;
}

.dots {
  width: 100vw;
  font-size: 2vh;
  text-align: center;
  color: $dark;
  margin-top: 67vh;
  position: absolute;
  z-index: 5;

  i {
    margin-left: 1vw;
  }

  i:hover {
    cursor: pointer;
  }
}

.live-content-container {
  background-color: $dark;
  padding-bottom: 8vh;
}