$lt-grey: #F4F4F4;
$grey: #E1E3E4;
$dk-grey: #D4D5D6;
$v-dk-grey: #343434;
$gold: #B7AA6A;
$lt-gold: #d5cea9;
$v-lt-gold: #eeebdd;
$dk-gold: #8a7e42;
$dark: #202121;
$lt-dark: #555555;
$v-lt-dark: #8c8c8c;
$nav-height: 10vh;