.venue-header-background {
  display: inline-block;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.venue-header {
  position: static;
  display: inline-block;
  width: 100vw;
  height: 72vh;
  background-color: rgba($dark, 0.35);
  white-space:normal;

  .venue-header-content {
    display: inline-block;
    vertical-align: top;
    margin-left: 10vw;
    width: 80vw;
    font-size: 4vh;
    color: $lt-gold;
    text-align: center;
    padding-top: 20vh;

    h5 {
      font-size: 4vh;
    }

    h3 {
      font-size: 5.5vh;
    }

    h4 {
      font-size: 5vh;
    }

    h6 {
      font-size: 3.2vh;
    }
  }
}

.venue-about-container {
  background-color: $dark;
  text-align: center;
  padding-bottom: 25px;

  .venue-about-image {
    position: relative;
    width: 40vh;
    height: 40vh;
    padding: 2vh;
    background-color: $lt-grey;
    object-fit: cover;
    margin-top: -31vh;
  }

  .venue-about-content {
    position: relative;
    width: 620px;
    max-width: 90vw;
    margin: 0 auto;
    text-align: left;
    margin-bottom: 25px;

    p {
      color: $lt-gold;
      font-size: 3.5vh;
      font-family: 'Droid', serif;
    }
  }

  .venue-maps {
    width: 618px;
    height: 300px;
    max-width: 80vw;
    padding: 1px;
    background-color: $dark;
  }
}