<li class="u-pull-right dropdown">
  <i class="fa fa-user"></i>
  <ul class="admin-items">
    <li><%= link_to "Admin Center", admin_path %></li>
    <li>
      <%= link_to new_event_path do %>
        <i class="fa fa-plus"></i> Event
      <% end %>
    </li>
    <li>
      <%= link_to new_band_path do %>
        <i class="fa fa-plus"></i> Band
      <% end %>
    </li>
  </ul>
</li>