<div class="twelve columns social-icons">
  <%= link_to "https://www.facebook.com/upholdlive/?fref=ts" do %>
    <i class="fa fa-facebook-official"></i>
  <% end %>
  <%= link_to "https://twitter.com/upholdlive" do %>
    <i class="fa fa-twitter-square"></i>
  <% end %>
  <%= link_to "https://www.instagram.com/upholdlive/" do %>
    <i class="fa fa-instagram"></i>
  <% end %>
</div>